parameters:
	ignoreErrors:
		-
			message: "#^Class CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository implements generic interface CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepositoryInterface but does not specify its types\\: TModelClass$#"
			count: 1
			path: src/Repository/BaseRepository.php

		-
			message: "#^Method CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository\\:\\:setModel\\(\\) return type with generic class CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository does not specify its types\\: TModelClass$#"
			count: 1
			path: src/Repository/BaseRepository.php

		-
			message: "#^Method CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository\\:\\:setRequest\\(\\) return type with generic class CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository does not specify its types\\: TModelClass$#"
			count: 1
			path: src/Repository/BaseRepository.php

		-
			message: "#^Method CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepositoryInterface\\:\\:setModel\\(\\) return type with generic class CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository does not specify its types\\: TModelClass$#"
			count: 1
			path: src/Repository/BaseRepositoryInterface.php

		-
			message: "#^Method CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepositoryInterface\\:\\:setRequest\\(\\) return type with generic class CustomD\\\\LaravelHelpers\\\\Repository\\\\BaseRepository does not specify its types\\: TModelClass$#"
			count: 1
			path: src/Repository/BaseRepositoryInterface.php

		-
			message: "#^Type mixed in generic type Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<int, mixed\\> in PHPDoc tag @return is not subtype of template type TModel of Illuminate\\\\Database\\\\Eloquent\\\\Model of class Illuminate\\\\Database\\\\Eloquent\\\\Collection\\.$#"
			count: 2
			path: src/Repository/BaseRepositoryInterface.php
